
.app {
  overflow: hidden;
  min-height: 100vh;

  &--bgWhite {
    background: #fff;
  }

  &--bgSmoke {
    background: color('smoke');
  }

  &--bgSecondaryTint1 {
    background: color('secondaryTint1');
  }

  &--bgSecondaryTint2 {
    background: color('secondaryTint2');
  }

  &--bgSecondaryTint3 {
    background: color('secondaryTint3');
  }

  &--bgSecondaryTint4 {
    background: color('secondaryTint4');
  }

  &__header {
    @include bleed();
    z-index: 3;
    position: relative;
    height: size('headerHeightPhone');

    @include mq($from: 'tablet') {
      height: size('headerHeightTablet');
    }

    @include mq($from: 'laptop') {
      height: size('headerHeightLaptop');
    }

    &--overlaping {
       height: 0;
    }
  }

  &__main {
    z-index: 2;
    position: relative;
  }

  &__footer {
    z-index: 1;
    position: relative;
  }
}

