
#newUI {
  // html { }
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  *::selection {
    background: rgba(color('text'), 0.15);
  }

  // html,
  // body { }
  height: 100%;

  // body { }
  position: relative;
  color: color('text');
  background: color('body');
  font-family: font('body');
  font-size: px2rem(size('bodyFontSize'));
  line-height: 1.333333;

  svg {
    fill: color('text');
    vertical-align: initial;
  }

  h1, h2, h3, h4, h5, h6, p {
    // margin: 0;
    // font-size: 1em;
  }

  h1, h2, h3, h4, h5, h6 {
    // font-family: font('heading');
  }

  ul {
    // margin: 0;
    // padding: 0;
    // list-style: none;
  }

  a {
    color: color('primary');
    text-decoration: none;
//
    // &:hover {
    //   text-decoration: none;
    // }
  }

  input, button, textarea {
    // border: none;
  }
}
