.brand {
  $b: &;
  display: flex;
  align-items: center;

  &__logo {
    width: 5rem;

    svg,
    svg g,
    svg path {
      fill: color('primary') !important;
    }

    svg {
      fill: #fff;
    }

    @include mq($from: 'tablet') {
      width: 6.5rem;
    }

    @include mq($from: 'laptop') {
      width: 8rem;
    }
  }
}
