
.footerDefault {
  @include bleed();

  &__main {
    @include wrapper();
    padding-top: 5em;
    padding-bottom: 10em;
    text-align: center;

    @include mq($from: 'tablet') {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }
  }

  &__support {
    @include heading5();

    @include mq($from: 'tablet') {
      margin: 0;
      flex: 1 0 50%;
      text-align: left;
    }
  }

  &__link {
    color: inherit;
    white-space: nowrap;
  }

  &__social {
    display: flex;
    margin-top: 1.5rem;
    justify-content: center;

    @include mq($from: 'tablet') {
      flex: 1 0 50%;
      margin-top: 0;
      justify-content: flex-end;
    }
  }

  &__socialItem {
    display: flex;
    color: inherit;
    margin: 0 0.5rem;
  }

  &__navigation {
    flex: 1 0 100%;
    margin: 1.5rem 0;
    padding: 1.5rem 0;
    column-gap: 0.25rem;
    column-count: 3;
    border: 1px solid color('border');
    border-width: 1px 0;

    @include mq($from: 'tablet') {
      text-align: left;
      column-count: 4;
    }
  }

  &__navigationItem {
    color: inherit;
    display: block;
    padding: 0.25rem 0;
    break-inside: avoid;

    @include mq($until: 'tablet') {
      @include bodyMeta($margin: false);
    }

    @include mq($from: 'tablet') {
      @include bodyText($margin: false);
      padding: 0.5rem 0;
      text-align: left;
    }
  }

  &__disclaimer {
    @include bodyMeta();
    margin-top: 0.5rem;

    @include mq($from: 'tablet') {
      margin: 0;
      flex: 1 0 45%;
      text-align: left;
    }

    @include mq($from: 'desktop') {
      display: flex;
      align-items: center;
    }
  }

  &__copyright { }

  &__links {
    display: flex;
    margin-top: 1.5rem;
    justify-content: center;

    @include mq($from: 'tablet') {
      justify-content: flex-start;
    }

    @include mq($from: 'desktop') {
      margin-top: 0;
      margin-left: 2rem;
    }
  }

  &__linksItem {
    color: inherit;
    margin: 0 0.5rem;

    @include mq($from: 'tablet') {
      margin: 0 1rem 0 0;
    }
  }

  &__relations {
    @include bodyMeta();
    max-width: 80%;
    margin-top: 1.5rem;
    display: inline-block;

    a {
      color: inherit;
      text-decoration: underline;
    }

    @include mq($from: 'tablet') {
      flex: 1 0 55%;
      margin-top: 0;
      text-align: right;
      align-self: flex-start;
    }
  }

  &__brand {
    display: flex;
    margin-top: 1.5rem;
    justify-content: center;
  }
}
