
.headerDefault {
  @include wrapper();
  color: color('text');
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1em;

  @include mq($from: 'tablet') {
    padding-top: 1.5em;
  }

  &--inverted {
    color: #fff;
  }

  &--open {
    @include mq($until: 'tablet') {
      color: color('text');
    }
  }

  &__area {
    display: flex;
    align-items: center;

    &--left {
      order: 1;
      width: 2.5rem;
      border-color: red !important;

      @include mq($from: 'tablet') {
        order: 1;
        width: auto;
        margin-left: auto;
      }
    }

    &--middle {
      order: 2;
      border-color: green !important;

      @include mq($from: 'tablet') {
        order: 1;
      }
    }

    &--right {
      order: 3;
      width: 2.5rem;
      border-color: blue !important;
      justify-content: flex-end;

      @include mq($from: 'laptop') {
        width: 3rem;
      }
    }
  }

  &__brand {
    z-index: 2;
    padding: 0.5em 0;
    position: relative;
  }

  &__navigationIcon {
    cursor: pointer;
    height: 2rem;
    z-index: 2;
    position: relative;
    display: flex;
    align-items: center;
    padding: 0.5rem;
    margin-right: -0.5rem;
  }

  &__navigationToggle {
    width: 1.75rem;
    height: 1.75rem;
    color: inherit;
    z-index: 2;
    position: relative;

    @include mq($from: 'tablet') {
      display: none;
    }

    // Burger icon
    &:after,
    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 2px;
      background: color('text');
      transition: all 0.15s ease;
    }

    &:after {
      margin-top: -0.25rem;
    }

    &:before {
      margin-top: 0.25rem;
    }

    &--inverted {
      &:after,
      &:before {
        background: #fff;
      }
    }

    &--open {
      &:after,
      &:before {
        @include mq($until: 'tablet') {
          background: color('text');
          margin-top: 0;
        }
      }

      &:after {
        @include mq($until: 'tablet') {
          transform: rotate(-45deg);
        }
      }

      &:before {
        @include mq($until: 'tablet') {
          transform: rotate(45deg);
        }
      }
    }
  }

  &__navigation {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    @include mq($from: 'tablet') {
      width: auto;
      height: auto;
      position: relative;
    }

    &.header-navigation-enter-active,
    &.header-navigation-leave-active {
      transition: opacity 0.25s;
    }

    &.header-navigation-enter,
    &.header-navigation-leave-to {
      opacity: 0;
    }

    &.header-navigation-leave-to {
      transition-duration: 0.125s;
    }
  }
}
