.headerClean {
  @include wrapper();
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1em;

  @include mq($from: 'tablet') {
    padding-top: 1.5em;
  }

  &__brand {
    z-index: 2;
    padding: 0.5em 0;
    position: relative;
  }
}
