
.navigation {
  @include mq($until: 'tablet') {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: color('body');
    display: flex;
    align-items: flex-end;
    padding: 0 1.5rem 3rem;
  }

  @include mq($from: 'tablet') {
    display: block;
  }

  &__list {
    width: 100%;
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    flex-direction: column;

    @include mq($from: 'tablet') {
      flex-direction: row;
    }
  }

  &__item {
    @include bodyText();

    @include mq($until: 'tablet') {
      &:nth-child(1n + 2) {
        border-top: 1px solid color('border');
      }
    }
  }

  &__link {
    border: 0;
    display: block;
    color: color('text');
    padding: 0.5rem 1.25rem;
    background: transparent;
    box-shadow: none;
    cursor: pointer;

    @include mq($from: 'tablet') {
      color: inherit;
      margin-left: 1.25rem;
      padding: 0.5rem 0;
    }

    @include mq($from: 'laptop') {
      margin-left: 2rem;
    }
  }
}
