@import 'variables';

// Size function
@function size($key) {
  @return map-get($sizes, $key);
}

// Color function
@function color($key) {
  @return map-get($colors, $key);
}

// Color function
@function font($key) {
  @return map-get($fonts, $key);
}

// Margin function
@function margin($key) {
  @return map-get($horizontal-margins, $key);
}

// Calculate max width based on grid settings
@function wrapperMaxWidth($columns) {
  $gridGutter: map-get($grid, 'gutter');
  $gridColumns: map-get($grid, 'columns');
  $contentMaxWidth: map-get($sizes, 'contentMaxWidth');
  $maxWidth: (($contentMaxWidth + $gridGutter) / $gridColumns) * $columns - $gridGutter;
  @return px2rem($maxWidth);
}

// Ratio function
@function ratio($width, $height) {
  @return decimalRound(($height / $width) * 100%, 4);
}

// Pixels to em based on sass-mq
@function px2em($px, $metric: 'em', $base-font-size: 16px) {
  @if unitless($px) {
      @warn "Assuming #{$px} to be in pixels, attempting to convert it into pixels.";
      @return px2em($px * 1px, $metric, $base-font-size);
  } @else if unit($px) == em {
      @return $px;
  }
  @return ($px / $base-font-size) * 1#{$metric};
}

// Pixels to rem based on sass-mq
@function px2rem($px) {
  @if unit($px) == rem {
    @return $px;
  }

  @return px2em($px, 'rem');
}

@function stripUnit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }

  @return $number;
}

// Round a number to specified digits
@function decimalRound($number, $digits: 0, $mode: round) {
  $n: 1;

  // $number must be a number
  @if type-of($number) != number {
    @warn '#{ $number } is not a number.';
    @return $number;
  }
  // $digits must be a unitless number
  @if type-of($digits) != number {
    @warn '#{ $digits } is not a number.';
    @return $number;
  } @else if not unitless($digits) {
    @warn '#{ $digits } has a unit.';
    @return $number;
  }
  @if $digits > 0 {
    @for $i from 1 through $digits {
      $n: $n * 10;
    }
  }
  @if $mode == round {
    @return round($number * $n) / $n;
  } @else if $mode == ceil {
    @return ceil($number * $n) / $n;
  } @else if $mode == floor {
    @return floor($number * $n) / $n;
  } @else {
    @warn '#{ $mode } is undefined keyword.';
    @return $number;
  }
}

@function decimalCeil($number, $digits: 0) {
  @return decimalRound($number, $digits, ceil);
}

@function decimalFloor($number, $digits: 0) {
  @return decimalRound($number, $digits, floor);
}
