
$gutter: map-get($grid, 'gutter');
$spacing: map-get($grid, 'spacing');
$columns: map-get($grid, 'columns');

@mixin gridRow() {
  margin-top: -($spacing);
  margin-left: -($gutter / 2);
  margin-right: -($gutter / 2);
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;

  &--alignCenter {
    align-items: center;
  }

  &--alignBottom {
    align-items: flex-end;
  }
}

@mixin gridCol($num-of-cols: false) {
  // background: rgba(red, 0.2);
  width: calc(100% - #{$gutter});
  margin-top: $spacing;
  margin-left: ($gutter / 2);
  margin-right: ($gutter / 2);

  @if $num-of-cols != false {
    $col-width: (100% / $columns) * $num-of-cols;
    // $col-width: decimalFloor($col-width, 1);
    width: calc(#{$col-width} - #{$gutter});
  }
}

@mixin gridColSkip($num-of-cols) {
  $col-width: (100% / $columns) * $num-of-cols;
  margin-left: calc(#{$col-width} + #{$gutter / 2}) !important;
}
