
// Clearfix
@mixin clearfix() {
  &:after, &:before {
    content: ' ';
    display: table;
  }

  &:after {
    clear: both;
  }
}

// Box
@mixin box($box-color: cyan, $padding: false) {
  border: 1px dotted $box-color;
  background: rgba($box-color, 0.1);

  @if $padding {
    padding: $padding;
  }
}

@mixin boxline($box-color: cyan, $padding: false) {
  border: 1px dotted $box-color;

  @if $padding {
    padding: $padding;
  }
}

@mixin boxer($box-color: cyan, $levels: 4, $padding: false) {
  > * {
    @include box($box-color, $padding);
  }

  @if $levels > 1 {
    > * > * {
      @include box($box-color, $padding);
    }
  }

  @if $levels > 2 {
    > * > * > * {
      @include box($box-color, $padding);
    }
  }

  @if $levels > 3 {
    > * > * > * > * {
      @include box($box-color, $padding);
    }
  }

  @if $levels > 4 {
    > * > * > * > * > * {
      @include box($box-color, $padding);
    }
  }
}

// Spacer
@mixin spacer($levels: 1, $margin-top: 1rem) {
  > * {
    &:nth-child(1n + 2) {
      margin-top: $margin-top;
    }
  }

  @if $levels > 1 {
    > * > * {
      &:nth-child(1n + 2) {
        margin-top: $margin-top;
      }
    }
  }

  @if $levels > 2 {
    > * > * > * {
      @include box($box-color, $padding);
    }
  }

  @if $levels > 3 {
    > * > * > * > * {
      @include box($box-color, $padding);
    }
  }

  @if $levels > 4 {
    > * > * > * > * > * {
      @include box($box-color, $padding);
    }
  }
}

// Font
@mixin fontface($family, $src, $style: normal, $weight: normal) {
  @font-face {
    font-family: $family;
    src: url('#{$src}.woff2') format('woff2'),
      url('#{$src}.woff') format('woff'),
      url('#{$src}.ttf') format('truetype');
    font-style: unquote($style);
    font-weight: unquote($weight);
  }
}

// Bleed settings
@mixin bleed() {
  padding-left: size('bleedPhone');
  padding-right: size('bleedPhone');

  @include mq($from: 'tablet') {
    padding-left: size('bleedTablet');
    padding-right: size('bleedTablet');
  }

  @include mq($from: 'laptop') {
    padding-left: size('bleedLaptop');
    padding-right: size('bleedLaptop');
  }
}

@mixin wrapper($maxWidth: size('contentMaxWidth'), $margin: true) {
  max-width: $maxWidth;

  @if ($margin) {
    margin-left: auto;
    margin-right: auto;
  }
}

// White plate with rounded corners
@mixin plate() {
  width: 100%;
  background: #fff;
  border-radius: 0.25rem;
  padding: 1.5rem 1.25rem 2rem;

  @include mq($from: 'tablet') {
    padding: 2rem 2rem 3rem;
  }

  @include mq($from: 'laptop') {
    padding: 2rem 3rem 3rem;
  }
}
