
/*
 * Temp mixin for debugging
 */
@mixin typographyDebugger($name) {
  &:after {
    display: none;
    content: $name;
  }

  /*
  position: relative;

  &:hover {
    background: rgba(#ccc, 0.5);

    &:after {
      content: $name;
      color: #fff;
      background: #000;
      font-family: arial;
      letter-spacing: 0;
      position: absolute;
      top: 50%;
      left: -10px;
      transform: translate(-100%, -50%);
      font-size: 15px;
      padding: 0.5em;
    }
  }
  */
}

/*
 * Heading size 1 with support for adaptive margins
 */
@mixin headingBook($margin: false) {
  @include typographyDebugger('headingBook');

  margin-top: 0;
  margin-bottom: 0;
  font-size: px2rem(25px);
  font-weight: bold;
  line-height: 1.05;
  letter-spacing: -0.025rem;
  color: color('heading');

  @include mq($from: 'laptop') {
    font-size: px2rem(40px);
  }

  @include mq($from: 'desktop') {
    font-size: px2rem(60px);
  }
}

/*
 * Heading size 1 with support for adaptive margins
 */
@mixin heading1($margin: false) {
  @include typographyDebugger('heading1');

  margin-top: 0;
  margin-bottom: 0;
  font-size: px2rem(40px);
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: -0.06rem;
  color: color('heading');

  @include mq($from: 'laptop') {
    font-size: px2rem(60px);
  }

  @if $margin {
    &:nth-child(1n + 2) {
      margin-top: 2.5rem;
    }

    &:nth-last-child(1n + 2) {
      margin-bottom: 2rem;
    }
  }
}

/*
 * Heading size 2 with support for adaptive margins
 */
@mixin heading2($margin: false) {
  @include typographyDebugger('heading2');

  margin-top: 0;
  margin-bottom: 0;
  font-size: px2rem(30px);
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: -0.04rem;
  color: color('heading');

  @include mq($from: 'laptop') {
    font-size: px2rem(40px);
  }

  // Adaptive margin
  @if $margin {
    &:nth-child(1n + 2) {
      margin-top: 2.5rem;
    }

    &:nth-last-child(1n + 2) {
      margin-bottom: 2.5rem;

      + p {
        margin-top: -1rem;
      }
    }
  }
}

/*
 * Heading size 3 with support for adaptive margins
 */
@mixin heading3($margin: false) {
  @include typographyDebugger('heading3');

  margin-top: 0;
  margin-bottom: 0;
  font-size: px2rem(25px);
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: -0.025rem;
  color: color('heading');

  @include mq($from: 'laptop') {
    font-size: px2rem(30px);
  }

  // Adaptive margin
  @if $margin {
    &:nth-child(1n + 2) {
      margin-top: 2.5rem;
    }

    &:nth-last-child(1n + 2) {
      margin-bottom: 2rem;

      + p {

        margin-top: -1rem;
      }
    }
  }
}

/*
 * Heading size 4 with support for adaptive margins
 */
@mixin heading4($margin: false) {
  @include typographyDebugger('heading4');

  margin-top: 0;
  margin-bottom: 0;
  font-size: px2rem(20px);
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: -0.025rem;
  color: color('heading');

  @include mq($from: 'laptop') {
    font-size: px2rem(25px);
  }

  // Adaptive margin
  @if $margin {
    &:nth-child(1n + 2) {
      margin-top: 2.5rem;
    }

    &:nth-last-child(1n + 2) {
      margin-bottom: 1.5rem;

      + p {
        margin-top: -1rem;
      }
    }
  }
}

/*
 * Heading size 4 with support for adaptive margins
 */
@mixin heading5($margin: false) {
  @include typographyDebugger('heading5');

  margin-top: 0;
  margin-bottom: 0;
  font-size: px2rem(20px);
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: -0.025rem;
  color: color('heading');

  // Adaptive margin
  @if $margin {
    &:nth-child(1n + 2) {
      margin-top: 2.5rem;
    }

    &:nth-last-child(1n + 2) {
      margin-bottom: 0.5rem;
    }
  }
}

/*
 * Leading text, matching heading 2
 */
@mixin leading($margin: false) {
  @include heading4($margin);
}

/*
 * Body text
 */
@mixin bodyText($margin: false) {
  margin-top: 0;
  margin-bottom: 0;
  font-size: px2rem(18px);
  line-height: 1.35;
  letter-spacing: -0.02rem;

  // Adaptive margin
  @if $margin {
    &:nth-last-child(1n + 2) {
      margin-bottom: 1.0rem;
    }
  }
}

/*
 * Small alternative for copy text
 */
@mixin bodyMeta($margin: false, $color: color('disclaimer')) {
  margin-top: 0;
  margin-bottom: 0;
  font-size: px2rem(14px);
  line-height: 1.35;

  @if ($color) {
    color: $color;
  }

  // Adaptive margin
  @if $margin {
    &:nth-last-child(1n + 2) {
      margin-bottom: 1.0rem;
    }
  }
}

/*
 * Vanilla html styled based on typography mixins
 */
@mixin vanillaHtml($margin: false) {
  p {
    @include bodyText($margin: $margin);
  }

  h1 {
    @include heading1($margin: $margin);
  }

  h2 {
    @include heading2($margin: $margin);
  }

  h3 {
    @include heading3($margin: $margin);
  }

  h4 {
    @include heading4($margin: $margin);
  }

  h5 {
    @include heading5($margin: $margin);
  }

  a {
    color: color('primary');
  }
}
