// Fonts
$fonts: (
  body: ('maisonneue', 'helvetica', 'arial', sans-serif),
  heading: ('maisonneue', 'helvetica', 'arial', sans-serif)
);

// Colors
$colors: (
  body: #fff,
  text: #555,
  heading: #444,
  disclaimer: #585858,
  inputBorder: #ccc,
  warning: #c00,
  border: rgba(#000, 0.1),
  borderHover: rgba(#000, 0.2),
  nexBlue: #363bec,
  smoke: #f4f4f4,
  catskillWhite: blue, // #eaf3f5,
  dawnPink: pink, // #f5f0ee, // #f6edec,
  ecruWhite: green, // #f3f3e3,
  goldStar: #eaad0d,
  primary: #363bec,
  secondary1: #61a4b3,
  secondaryTint1: #eaf3f5,
  secondary2: #ad5b52,
  secondaryTint2: #f6edec,
  secondary3: #b6b654,
  secondaryTint3: #f3f3e3,
  secondary4: #333,
  secondaryTint4: #f4f4f4
);

$colorsNew: (
  primary: #e95164,
  secondary1: #6e5d5d,
  secondaryTint1: #eeebe8,
  secondary2: #703056,
  secondaryTint2: #e5d2d3,
  secondary3: #287470,
  secondaryTint3: #d9ded4,
  secondary4: #4d5d73,
  secondaryTint4: #d4d8da
);

$colors: map-merge($colors, $colorsNew);

// Common sizes
$sizes: (
  bodyFontSize: 16px,
  contentMaxWidth: 1380px,
  bleedPhone: 1.25em,
  bleedTablet: 1.5em,
  bleedLaptop: 2em,
  headerHeightPhone: 4rem,
  headerHeightTablet: 5rem,
  headerHeightLaptop: 6rem
);

// Grid settings
$grid: (
  gutter: 54px,
  spacing: 32px,
  columns: 12
);

// Breakpoints
$mq-breakpoints: (
  phone: 320px,
  tablet: 676px,
  laptop: 920px,
  desktop: 1200px,
  monitor: 1400px,
  projector: 1600px
);
