@import 'helpers';

.centerContainer {
  @include box(yellow);
}

.dummy {
  @include box(red);
  padding: 2em;
}

.input-has-error {
  border: 1px solid red;
}

.text-has-error {
  color: red;
}

.credit_card_error_list {
  padding-left: 36px;
  padding-top: 10px;
  list-style: initial;
}

.card_error {
  padding-top: 21px;
}

.formCheckbox_error{
  border: red 1px solid;
  border-radius: 0.25rem;
}
.hidden_form_field {
  display: none;
}

.userDetailsForm fieldset {
  border: none;
}

.formInput__field--fixedHeight {
  height: 10px;
}

// Tempory coming soon image - please remove once homepage implemented
.temp_homepage {
  width: 100%;
}
