
// Import variables
@import 'lib/variables';

// Import dependencies
@import '~sass-mq/mq';
@import '~normalize.css/normalize';

// Import helpers
@import 'lib/mixins';
@import 'lib/functions';
@import 'lib/grid';
@import 'lib/typography';

// Import layout
@import 'layouts/defaults';
@import 'layouts/app';
@import 'layouts/fonts';

// Import layout components
#newUI {
  @import 'layouts/components/brand.scss';
  @import 'layouts/components/footer-default';
  @import 'layouts/components/header-clean';
  @import 'layouts/components/header-default';
  @import 'layouts/components/navigation';
}

// Import components
#newUI {
  @import 'components/html';
  @import 'components/section';
  @import 'components/loader';
  @import 'components/cookiebar';
  @import 'components/arrow-link';
  @import 'components/account-info';
  @import 'components/btn';
  @import 'components/media';
  @import 'components/checkbox';
  @import 'components/form-checkbox';
  @import 'components/form-input';
  @import 'components/form-layout';
  @import 'components/form-select';
  @import 'components/form-option';
  @import 'components/grid';
  @import 'components/faq-list';
  @import 'components/page-header';
  @import 'components/register-subscription-table';
  @import 'components/sticky-button';
  @import 'components/box-wrapper';
  @import 'components/amount-picker';
  @import 'components/payment-btn';
  @import 'components/payment-option';
  @import 'components/payment-option-summary';
  @import 'components/payment-option-credit-card';
  @import 'components/profile-list';
  @import 'components/product-features';
  @import 'components/bullet-list';
  @import 'components/download-buttons';
  @import 'components/book-cover';
  @import 'components/book-group';
  @import 'components/book-card';
  @import 'components/book-card-detailed';
  @import 'components/book-rainbow';
  @import 'components/option-list';
  @import 'components/search-form';
  @import 'components/book-list';
  @import 'components/book-list-filter';
  @import 'components/get-started';
  @import 'components/meta-table';
  @import 'components/register-step';
  @import 'components/book-details';
  @import 'components/two-up-benefits';
  @import 'components/promoted-checklist';
  @import 'components/subscription-features';
  @import 'components/feature-pro';
  @import 'components/feature-box';
  @import 'components/pagination';
  @import 'components/book-list-header';
  @import 'components/user-reviews';
  @import 'components/hero';
  @import 'components/hero-start';
  @import 'components/hero-content';
  @import 'components/form';
  @import 'components/campaign-page';
  @import 'components/campaign-page-button';
  @import 'components/campaign-page-partner';
  @import 'components/campaign-page-register';
  @import 'components/offer-list';
  @import 'components/offer-post';
  @import 'components/account-navigation';
}

// Temporary
#newUI {
  @import 'development';
}
