
.accountInfo {
  &__main { }

  &__heading {
    @include heading4();
    margin-bottom: 0.5rem;
  }

  &__description {
    @include bodyText();
  }

  &__content {
    margin-top: 1.5rem;
  }

  &__divider {
    margin: 1.5rem 0;
    border-top: 1px solid color('border');
  }

  &__aside {
    @include spacer(1rem);
    @include bodyMeta();
    text-align: center;
    margin-top: 2rem;
  }

  &__disclaimer {
    margin: 0;
  }

  &__link {
    display: inline-block;
    color: color('primary');
  }
}
