
.accountNavigation {
  width: 100%;
  margin: 0 auto;
  max-width: wrapperMaxWidth(6);

  &__item {
    @include bodyText();
    border-bottom: 1px solid color('border');
  }

  &__link {
    display: block;
    color: color('text');
    padding: 0.5rem 1.25rem;

    @include mq($from: 'tablet') {
      padding: 1rem 1.25rem;
    }
  }
}
