
.amountPicker {
  display: flex;
  text-align: center;

  &__item {
    flex: 1;
    cursor: pointer;
  }

  &__info {
    opacity: 0.5;
    padding: 0 0.25rem;
    transition: opacity 0.3s ease;

    &--active {
      opacity: 1;
    }
  }

  &__heading {
    @include heading2();
  }

  &__description {
    margin-top: 0.25rem;

    @include mq($until: 'tablet') {
      @include bodyMeta();
    }

    @include mq($from: 'tablet') {
      @include bodyText();
    }
  }

  &__checkbox {
    margin-top: 1rem;
  }
}
