
.arrowLink {
  color: color('text');
  display: flex;
  align-items: center;

  &__label {
    @include bodyText();
  }

  &__icon {
    top: 1px;
    position: relative;
    margin-left: 0.5rem;

    svg {
      fill: color('text');
    }
  }
}
