
.bookListFilter {
  min-height: 100vh;

  &__group {
    &:nth-child(1n + 2) {
      margin-top: 2rem;
    }
  }

  &__heading {
    @include heading5();
    margin-bottom: 0.5rem;
  }

  &__options { }

  &__button {
    margin-top: 1rem;
  }
}
