
.bookCard {
  color: inherit;
  display: table;

  &__row {
    display: table-row;
  }

  &__info {
    display: table-cell;
    overflow: hidden;
  }

  &__title {
    @include bodyMeta();
    display: table-cell;
    overflow: hidden;
    max-width: 0;
  }

  &__cover {
    height: 10rem;

    @include mq($from: 'tablet') {
      height: 12rem;
    }
  }

  &__meta {
    display: flex;
    align-items: center;
    margin-top: 0.25rem;
  }

  &__item {
    display: flex;
    align-items: center;

    &:nth-child(1n + 2) {
      margin-left: 0.5rem;
    }
  }

  &__label {
    @include bodyMeta();
    margin-left: 0.25rem;
  }

  &__icon {
    position: relative;

    &--rank {
      svg {
        width: 16px * 0.875;
        height: 16px * 0.875;
        fill: color('goldStar');
      }
    }

    &--typeEbook {
      svg {
        fill: color('text');
      }
    }

    &--typeAudiobook {
      top: -1px;

      svg {
        fill: color('text');
      }
    }
  }
}
