
.bookRainbow {
  $cols: 8;
  $margin: 0.75rem;
  $offset: 6;

  &__list {
    position: relative;
    column-gap: $margin;
    column-count: 5;
    margin: 0 -25%;

    @include mq($from: 'tablet') {
      margin: 0 -12.5%;
      column-count: $cols;
    }

    @include mq($from: 'desktop') {
      margin: 0 5rem;
    }
  }

  &__item {
    break-inside: avoid;
    padding-bottom: $margin;

    @include mq($until: 'tablet') {
      &:nth-child(n + 12) {
        display: none;
      }

      &:nth-child(6n + 4) {
        padding-top: $margin * $offset * 0.5;
      }

      &:nth-child(6n + 6) {
        padding-top: $margin * $offset * 1;
      }
    }

    &:last-child,
    &:first-child {
      display: none;

      @include mq($from: 'desktop') {
        display: block;
        position: absolute;
        top: 0;
        width: calc(#{size(contentMaxWidth) / $cols} - #{$margin});
        max-width: 11.25vw;
      }
    }

    @include mq($from: 'tablet') {
      &:first-child {
        top: $margin * $offset * 2;
        left: $margin * -1;
        transform: translateX(-100%);
      }

      &:last-child {
        right: $margin * -1;
        transform: translateX(100%);
      }

      &:nth-child(6n + 4) {
        padding-top: $margin * $offset * 1;
      }

      &:nth-child(6n + 6) {
        padding-top: $margin * $offset * 2;
      }
    }
  }
}
