
.bookList {
  min-height: 50vh;

  &__header {
    margin: 0 auto 2rem;
    // max-width: wrapperMaxWidth(6);
  }

  &__search {
    margin: 0 auto 2rem;
    max-width: wrapperMaxWidth(6);
  }

  &__filter {
    margin: 0 auto 2rem;
    max-width: wrapperMaxWidth(6);
  }

  &__group {
    &:nth-child(1n + 2) {
      margin-top: 2rem;

      @include mq($from: 'desktop') {
        margin-top: 3rem;
      }
    }
  }

  &__noResult {
    text-align: center;
    padding-top: 1rem;
  }

  &__grid {
    display: flex;
    flex-wrap: wrap;
    margin-top: -0.5rem;
    justify-content: center;

    @include mq($from: 'tablet') {
      margin: -0.75rem -1rem 0;
    }

    @include mq($from: 'desktop') {
      margin: -1rem -1.5rem 0;
    }
  }

  &__item {
    flex: 0 0 100%;
    margin-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid color('border');

    @include mq($from: 'tablet') {
      flex: 0 0 calc(50% - 2rem);
      margin: 0.75rem 1rem 0;
      padding-bottom: 0.75rem;
    }

    @include mq($from: 'desktop') {
      flex: 0 0 calc(33.3333% - 3rem);
      margin: 1rem 1.5rem 0;
      padding-bottom: 1rem;
    }
  }

  &__pagination {
    margin-top: 3rem;
    text-align: center;
  }
}
