
.bookGroup {
  &__header {
    z-index: 2;
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    justify-content: space-between;
  }

  &__heading {
    @include heading4();
  }

  &__link { }

  &__description {
    @include bodyText();
    margin-bottom: 2rem;
  }

  &__main {
    z-index: 1;
    position: relative;
    margin: 0 -1.25em;

    @include mq($from: 'tablet') {
      margin: 0 -1.5em;
    }

    @include mq($from: 'laptop') {
      margin: -2rem 0 0;
    }

    /*
    @include mq($from: 'desktop') {
      &:before,
      &:after {
        content: '';
        position: absolute;
        z-index: 2;
        top: 0;
        width: 2em;
        height: 100%;
      }

      &:before {
        left: 0;

        background: linear-gradient(-90deg, rgba(#fff, 0), rgba(#fff, 1) 95%);
      }

      &:after {
        right: 0;

        background: linear-gradient(90deg, rgba(#fff, 0), rgba(#fff, 1) 95%);
      }
    }
    */
  }

  &__btn {
    display: none;

    /*
    @include mq($from: 'laptop') {
      width: 2rem;
      height: 2rem;
      z-index: 3;
      display: flex;
      position: absolute;
      align-items: center;
      justify-content: center;
      background: color('smoke');
      border-radius: 1rem;
      top: calc(12rem * 0.5 - 1rem);

      svg {
        position: relative;
        fill: color('text')
      }

      &--prev {
        left: 1rem;

        svg {
          left: -1px;
        }
      }

      &--next {
        right: 1rem;

        svg {
          right: -1px;
        }
      }
    }

    @include mq($from: 'projector') {
      &--prev {
        left: -1rem;
      }

      &--next {
        right: -1rem;
      }
    }
    */
  }

  &__list {
    margin: 0;
    z-index: 1;
    position: relative;
    display: flex;
    padding: 0 1.25rem;
    list-style: none;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;

    &:after {
      content: '';
      display: block;
      min-width: 1.25rem;
    }

    &::-webkit-scrollbar {
      display: none;
    }

    @include mq($from: 'tablet') {
      padding: 0 1.5rem;

      &:after {
        min-width: 1.5rem;
      }
    }

    @include mq($from: 'laptop') {
      padding: 0;
      flex-wrap: wrap;

      &:after {
        display: none;
      }
    }
  }

  &__item {
    margin-right: 0.5rem;

    @include mq($from: 'tablet') {
      margin-right: 0.75rem;
    }

    @include mq($from: 'laptop') {
      margin-top: 2rem;
      margin-right: 1rem;
    }
  }
}
