
.bookDetails {
  // @include boxline(cyan, 6px);
  // @include boxer(cyan, 1, 2px);

  a {
    color: color('primary');
  }

  @include mq($from: 'tablet') {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  &__cover {
    position: relative;
    width: 12rem;
    margin: 0 auto 1.5rem;

    @include mq($from: 'tablet') {
      order: 1;
      width: 30%;
      margin: initial;
    }

    &:after {
      content: '';
      z-index: 1;
      position: absolute;
      background: rgba(#5f553d, 0.7);
      bottom: 2px;
      left: 1rem;
      width: calc(100% - 2rem);
      height: 0.5rem;
      border-radius: 50%;
      box-shadow: 0 0 0.5rem rgba(#5f553d, 0.75), 0 0 1rem rgba(#5f553d, 0.5);
    }
  }

  &__image {
    z-index: 2;
    position: relative;
    width: 100%;
    display: block;
    border-radius: 0.2rem;
    background: color('smoke');
  }

  &__info {
    @include mq($from: 'tablet') {
      order: 2;
      width: 70%;
      align-self: center;
      padding-left: 2rem;
    }

    @include mq($from: 'laptop') {
      padding-left: 3rem;
    }
  }

  &__heading {
    @include headingBook();
    text-align: center;
    margin-bottom: 1rem;

    @include mq($from: 'tablet') {
      text-align: left;
    }
  }

  &__authors {
    @include bodyText();
    text-align: center;

    @include mq($from: 'tablet') {
      text-align: left;
    }
  }

  &__seriesName,
  &__publisher {
    @include bodyMeta();
    text-align: center;
    margin: 0.5rem 0 1.5rem;

    @include mq($from: 'tablet') {
      text-align: left;
    }
  }

  &__description {
    margin-top: 1rem;

    @include mq($until: 'tablet') {
      @include bodyMeta();
    }

    @include mq($from: 'tablet') {
      @include bodyText();
      width: 70%;
      order: 4;
      margin-top: 2.5rem;
      padding-top: 2rem;
      padding-left: 2rem;
      border-top: 1px solid color('border');
    }

    @include mq($from: 'laptop') {
      padding-left: 3rem;
    }
  }

  &__props {
    @include mq($until: 'tablet') {
      margin: 2rem 0 1rem;
      padding: 1rem 0;
      border: 1px solid color('border');
      border-width: 1px 0;
    }

    @include mq($from: 'laptop') {
      margin: 1rem 0;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }
  }

  &__propsItem {
    display: flex;
    align-items: center;
    white-space: nowrap;

    &:nth-child(1n + 2) {
      margin-top: 1rem;
    }

    @include mq($from: 'laptop') {
      margin-right: 1.5rem;

      &:nth-child(1n + 2) {
        margin-top: 0;
      }
    }
  }

  &__propsIcon {
    position: relative;
    margin-right: 0.5rem;

    &--rank {
      top: 1px;

      svg {
        width: 16px * 1.1875;
        height: 16px * 1.1875;
        fill: color('goldStar');
      }
    }

    &--typeEbook {
      top: 1px;

      svg {
        fill: color('text');
      }
    }

    &--typeAudiobook {
      top: 1px;

      svg {
        fill: color('text');
      }
    }
  }

  &__propsLabel {
    @include bodyText();
  }

  &__meta {
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: 1px solid color('border');

    @include mq($from: 'tablet') {
      order: 3;
      width: 30%;
      margin-top: 2.5rem;
      padding-top: 2rem;
    }
  }

  &__metaGroup {
    &:nth-child(1n + 2) {
      margin-top: 1.5rem;
    }
  }

  &__metaHeading {
    @incude heading5();
  }

  &__metaTable {
    @include bodyMeta();
    display: table;
  }

  &__metaItem {
    display: table-row;
  }

  &__metaLabel {
    display: table-cell;
    vertical-align: top;
    padding: 0.25rem 0;
  }

  &__metaValue {
    width: 100%;
    display: table-cell;
    vertical-align: top;
    padding: 0.25rem 0 0.25rem 0.5rem;
  }
}
