
.bookCover {
  display: block;
  position: relative;

  &--fixedHeight {
    height: 100%;
  }

  &:after {
    content: '';
    z-index: 1;
    position: absolute;
    background: rgba(#5f553d, 0.7);
    bottom: 0px;
    left: 10%;
    width: 80%;
    height: 0.5rem;
    border-radius: 50%;
    box-shadow: 0 0 0.5rem rgba(#5f553d, 0.75), 0 0 1rem rgba(#5f553d, 0.5);
  }

  &:before {
    content: '';
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0.2rem;
    background: rgba(#5f553d, 0.06);
  }

  &__image {
    z-index: 2;
    position: relative;
    width: 100%;
    display: block;
    border-radius: 0.2rem;
    background: color('smoke');

    &--fixedHeight {
      width: auto;
      height: 100%;
    }
  }
}
