
.bookListHeader {
  display: flex;
  justify-content: center;

  &__heading {
    @include heading3();
  }

  &__description {
    margin-top: 0.5rem;

    @include mq($until: 'tablet') {
      @include bodyMeta();
    }

    @include mq($from: 'tablet') {
      @include bodyText();
    }
  }

  &__info {
    flex: 1;
    order: 2;
    text-align: center;
  }

  &__tool {
    flex: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 3rem;

    @include mq($from: 'tablet') {
      width: 8rem;
    }

    &--left {
      order: 1;
      text-align: left;
    }

    &--right {
      order: 3;
      text-align: right;
      flex-direction: row-reverse;
    }
  }

  &__toolIcon {
    height: 1.8rem;
    display: flex;
    align-items: center;
  }

  &__toolLabel {
    order: 1;
    display: none;
    white-space: nowrap;

    @include mq($from: 'tablet') {
      @include bodyMeta();
      display: block;
      margin: 0 1rem;
    }
  }
}
