
.bookCardDetailed {
  $b: &;
  color: inherit;
  height: 100%;
  display: flex;
  align-items: center;

  @include mq($from: 'tablet') {
    align-items: flex-start;
  }

  &__cover {
    width: 100%;
    max-width: 5em;

    @include mq($from: 'tablet') {
      max-width: 6em;
    }

    @include mq($from: 'desktop') {
      max-width: 8em;
    }
  }

  &__info {
    flex: 1;
    padding-left: 1rem;

    @include mq($from: 'tablet') {
      padding-top: 1rem;
    }
  }

  &__heading {
    @include heading5();
    color: inherit;
    display: block;

    @include mq($from: 'tablet') {
      margin-bottom: 0.5rem;
    }
  }

  &__authors {
    @include bodyMeta();

    @include mq($from: 'tablet') {
      margin-bottom: 0.5rem;
    }

    a {
      color: inherit;
    }
  }

  &__meta {
    display: flex;
    align-items: center;
    margin-top: 0.25rem;
  }

  &__item {
    display: flex;
    align-items: center;

    &:nth-child(1n + 2) {
      margin-left: 0.5rem;
    }
  }

  &__label {
    @include bodyMeta();
    margin-left: 0.25rem;
  }

  &__icon {
    position: relative;

    &--rank {
      svg {
        width: 16px * 0.875;
        height: 16px * 0.875;
        fill: color('goldStar');
      }
    }

    &--typeEbook {
      svg {
        fill: color('text');
      }
    }

    &--typeAudiobook {
      top: -1px;

      svg {
        fill: color('text');
      }
    }
  }
}
