
.boxWrapper {
  @include plate();
  margin: 0 auto;

  &--textCenter {
    text-align: center;
  }

  @for $index from 1 through 12 {
    &--maxCols#{$index} {
      @include wrapper($maxWidth: wrapperMaxWidth($index), $margin: false);
    }
  }

  &__heading {
    @include heading4();
    margin-bottom: 1rem;
  }

  &__picker {
    @include mq($until: 'tablet') {
      margin: 0 -1.25em;
    }
  }
}
