
.btn {
  font-weight: bold;
  font-size: px2rem(14px);
  line-height: 1rem;
  letter-spacing: 0.055em;

  position: relative;
  display: inline-block;
  text-decoration: none;
  margin: 0;
  min-width: 200px;
  text-align: center;

  min-height: 2.875rem;
  padding: 0.85rem 1.75rem 0.75rem;

  cursor: pointer;
  border-width: 2px;
  border-style: solid;
  appearance: none;
  border-radius: 2em;
  box-sizing: border-box;

  white-space: nowrap;
  box-shadow: 0 0 0;
  vertical-align: top;
  text-transform: uppercase;

  &:active,
  &:focus {
    outline: none;
  }

  &::-moz-focus-inner {
    border-width: 0;
    border-style: none;
    padding: 0;
  }

  // Wide button
  &--wide {
    width: 100%;
  }

  // Wide button
  &--tight {
    min-width: 120px;
  }

  // Arrow button
  &--arrow {
    &:after {
      content: ' \2192';
    }
  }

  // Icon button
  &--icon {
    min-width: 4rem;
    padding-left: 0;
    padding-right: 0;

    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  // Solid CTA
  &--primary {
    color: #fff;
    background: color('primary');
    border-color: color('primary');
    box-shadow: none;
    text-shadow: none;
    transition: opacity 0.3s ease, color 0.15s ease, border 0.3s ease, background 0.3s ease;

    svg {
      fill: #fff;
    }

    @include mq($from: 'tablet') {
      &:hover {
        color: #fff;
        background: darken(color('primary'), 5%);
        border-color: darken(color('primary'), 5%);
      }
    }

    &.btn--loading {
      &:after {
        opacity: 1;
        border-top-color: rgba(#fff, 0);
        border-right-color: rgba(#fff, 0.3);
        border-bottom-color: rgba(#fff, 0.6);
        border-left-color: rgba(#fff, 1);
      }
    }

    &.btn--disabled {
      color: rgba(#fff, 0.4);
    }
  }

  // Outlined secondary
  &--secondary {
    color: color('text');
    background: transparent;
    border-color: color('border');
    box-shadow: none;
    text-shadow: none;
    transition: opacity 0.3s ease, color 0.15s ease, border 0.3s ease, background 0.3s ease;

    svg {
      fill: color('text');
    }

    @include mq($from: 'tablet') {
      &:hover {
        color: color('text');
        background: transparent;
        border-color: color('borderHover');
      }
    }

    &.btn--loading {
      &:after {
        opacity: 1;
        border-top-color: rgba(color('text'), 0);
        border-right-color: rgba(color('text'), 0.1);
        border-bottom-color: rgba(color('text'), 0.3);
        border-left-color: rgba(color('text'), 0.6);
      }
    }

    &.btn--disabled {
      color: rgba(color('text'), 0.4);
    }
  }

  // Disabled
  &--disabled {
    cursor: default;
  }

  // Loading
  &--loading {
    cursor: default;
    pointer-events: none;
    color: rgba(color('text'), 0);

    &::selection {
      background: transparent;
    }

    &:after {
      content: ' ';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 1.25rem;
      height: 1.25rem;
      margin-top: 1.25rem * -0.5;
      margin-left: 1.25rem * -0.5;
      opacity: 0;
      transition: opacity 0.3s ease;
      border: 2px solid transparent;
      border-top-color: rgba(#fff, 0);
      border-right-color: rgba(#fff, 0.3);
      border-bottom-color: rgba(#fff, 0.6);
      border-left-color: rgba(#fff, 1);
      border-radius: 50%;
      animation: btn-loading 0.25s infinite linear;
    }

    @keyframes btn-loading {
      100% { transform: rotate(360deg); }
    }
  }
}
