
.bulletList {
  display: flex;
  justify-content: center;

  &__main { }

  &__item {
    display: flex;

    &:nth-child(1n + 2) {
      margin-top: 0.5rem;
    }
  }

  &__icon {
    top: 1px;
    position: relative;
    margin-right: 0.5rem;

    svg {
      fill: color('text');
    }
  }

  &__label {
    @include bodyText();
    text-align: left;
  }
}
