
.campaignPage {
  // @include box(red);
  // @include boxer(red, 2);

  &__main {
    position: relative;

    @include mq($from: 'laptop') {
      display: flex;
      min-height: 100vh;
      align-items: center;
    }
  }

  &__partner {
    @include mq($from: 'laptop') {
      top: 0;
      left: 0;
      right: calc(50% + 2rem);
      bottom: 0;
      z-index: 10;
      position: fixed;
    }

    @include mq($from: 'desktop') {
      right: 50%;
    }
  }

  &__register {
    padding: 3rem size('bleedPhone') 6rem;

    @include mq($from: 'laptop') {
      flex: 1;
      padding: 3rem size('bleedLaptop');
      margin-left: 50%;
    }
  }
}
