
.campaignPagePartner {
  // @include box(green, 0);
  // @include boxer(green, 2, 0);
  height: 100%;
  display: flex;
  flex-direction: column;

  &__backdrop {
    flex: 1;
    display: flex;
    padding: 5rem 0;
    align-items: center;
    justify-content: center;
    background: top left no-repeat;
    background-size: cover;

    @include mq($from: 'tablet') {
      margin: 0;
      padding: 15vh 0;
    }
  }

  &__content {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #fff;
    margin: -1.25rem size('bleedPhone');
    padding: 1rem 1.25rem;
    border-radius: 0.25rem;

    @include mq($from: 'tablet') {
      width: 100%;
      margin: -1.5rem auto;
      padding: 1.5rem 1.25rem;
      max-width: wrapperMaxWidth(5);
    }

    @include mq($from: 'laptop') {
      margin: 0;
      padding: 2rem 3rem;
      max-width: none;
      align-items: flex-start;
      border-radius: 0;
    }

    @include mq($from: 'desktop') {
      padding: 3rem;
      align-items: center;
      flex-direction: row;
      justify-content: center;
    }
  }

  &__info {
    order: 2;
    width: 100%;
    max-width: wrapperMaxWidth(6);
    text-align: center;

    @include mq($from: 'laptop') {
      flex: 1;
      text-align: left;
    }
  }

  &__heading {
    @include heading4();
  }

  &__description {
    margin-top: 0.5rem;

    @include mq($until: 'tablet') {
      @include bodyMeta();
    }

    @include mq($from: 'tablet') {
      @include bodyText();
    }
  }

  &__brand {
    order: 1;
    margin-bottom: 1rem;

    @include mq($from: 'laptop') {
      margin-bottom: 1.5rem;
    }

    @include mq($from: 'desktop') {
      order: 3;
      display: block;
      margin-left: 3rem;
      margin-bottom: 0;
    }
  }

  &__logo {
    display: block;
    max-width: 18rem * 0.5;
    max-height: 3rem * 0.5;

    @include mq($from: 'desktop') {
      max-width: 14rem;
      max-height: 2.5rem;
    }
  }
}
