
.campaignPageRegister {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  &__logo {
    order: 1;
    width: 6rem;
    margin: 0 auto;
    display: block;

    @include mq($from: 'tablet') {
      width: 8rem;
    }
  }

  &__checklist {
    order: 4;
    margin: 1rem 0;

    @include mq($from: 'tablet') {
      order: 2;
    }
  }

  &__form {
    order: 3;
    margin-top: 1rem;
    margin-bottom: -4rem;
  }
}
