
.checkbox {
  cursor: pointer;
  height: 2em;
  width: 2em;
  display: inline-block;
  border-radius: 1rem;
  border: 1px solid color('inputBorder');
  background: color('smoke');
  transition: border 0.3s ease, background 0.3s ease;
  text-align: center;

  svg {
    fill: transparent;
    top: 0.4rem;
    position: relative;
    transition: fill 0.3s ease;
  }

  &--active {
    background: color('primary');
    border-color: color('primary');
    color: #fff;

    svg {
      fill: #fff;
    }
  }
}
