
.cookiebar {
  z-index: 10;
  position: fixed;
  top: 1em;
  right: 1em;
  padding: 0.75em;
  background: #fff;
  border-radius: 0.25em;
  box-shadow: 0 0.25em 0.75em rgba(#000, 0.1);
  max-width: calc(100% - 2em);

  @include mq($from: 'tablet') {
    top: auto;
    right: 1em;
    bottom: 1em;
    padding: 1.25em;
    max-width: 20em;
  }

  &__info {
    font-size: 0.75em;
    margin-bottom: 0.5em;

    @include mq($from: 'tablet') {
      @include bodyMeta();
      margin-bottom: 1em;
    }
  }

  &__description {
    display: inline;
    margin-right: 0.25em;
  }

  &__link {
    color: color('primary');
    display: inline-block;
  }

  &__button {
    .btn {
      font-size: px2rem(12px);
      min-height: 1.875rem;
      padding: 0.35rem 1.75rem 0.35rem;
    }
  }
}
