
.downloadButtons {
  width: 100%;
  display: flex;
  justify-content: center;

  &__item {
    flex: 1;
    max-width: 120px;
    margin: 0 0.75rem;
  }

  &__link {
    display: block;
    overflow: hidden;
    border-radius: 0.25rem;
  }
}
