
.faqList {
  &__item {
    &:nth-child(n + 2) {
      margin-top: 1rem;
      padding-top: 1rem;
      border-top: 1px solid color('border');
    }
  }

  &__link {
    color: color('text');
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__text {
    @include bodyText();
  }

  &__icon {
    top: 0.1rem;
    position: relative;
    margin-left: 0.5rem;
  }
}
