
.featureBox {
  @include plate();

  &__heading {
    @include heading5();
  }

  &__description {
    @include bodyText();
    margin-bottom: 1rem;
  }

  &__list {
    padding-left: 1.25rem;
    margin-bottom: 2rem;
  }

  &__item {
    @include bodyText();
    display: list-item;
    margin-top: 0.5rem;
    list-style-type: disc;
  }

  &__label {
    &--notIncluded {
      text-decoration: line-through;
    }
  }

  &__disclaimer {
    @include bodyMeta();
  }
}
