
.formLayout {
  display: flex;
  flex-wrap: wrap;
  margin-top: -1rem;
  margin-right: -1rem;

  @include mq($from: 'tablet') {
    margin-top: -1.125rem;
    margin-right: -1.125rem;
  }

  &__item {
    // @include box();
    flex: 1 1 100%;
    margin-top: 1rem;
    margin-right: 1rem;

    @include mq($from: 'tablet') {
      margin-top: 1.125rem;
      margin-right: 1.125rem;
    }

    &--20 {
      max-width: calc(20% - 1rem);

      @include mq($from: 'tablet') {
        max-width: calc(20% - 1.125rem)
      }
    }

    &--25 {
      max-width: calc(25% - 1rem);

      @include mq($from: 'tablet') {
        max-width: calc(25% - 1.125rem)
      }
    }

    &--33 {
      max-width: calc(33.3333% - 1rem);

      @include mq($from: 'tablet') {
        max-width: calc(33.3333% - 1.125rem)
      }
    }

    &--50 {
      max-width: calc(50% - 1rem);

      @include mq($from: 'tablet') {
        max-width: calc(50% - 1.125rem)
      }
    }

    &--67 {
      max-width: calc(66.6666% - 1rem);

      @include mq($from: 'tablet') {
        max-width: calc(66.6666% - 1.125rem)
      }
    }

    &--75 {
      max-width: calc(75% - 1rem);

      @include mq($from: 'tablet') {
        max-width: calc(75% - 1.125rem)
      }
    }

    &--80 {
      max-width: calc(80% - 1rem);

      @include mq($from: 'tablet') {
        max-width: calc(80% - 1.125rem)
      }
    }

    &--searchField {
      max-width: calc(66.6666% - 1rem);

      @include mq($from: 'tablet') {
        max-width: calc(66.6666% - 1.125rem)
      }
    }

    &--searchSettings {
      max-width: calc(66.6666% - 1rem);

      @include mq($from: 'tablet') {
        max-width: calc(66.6666% - 1.125rem)
      }
    }

    &--stackPhone {
      @include mq($until: 'tablet') {
        max-width: 100%;
      }
    }
  }
}
