
.formOption {
  text-align: left;

  &__legend {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__label {
    @include bodyMeta();
    margin-bottom: 0.25em;
  }

  &__icon {
    cursor: pointer;

    svg {
      fill: color('text');
    }
  }

  &__type {
    position: relative;
  }

  &__message {
    @include bodyMeta();
    color: color('warning');
    margin-top: 0.5rem;
  }
}
