
.formCheckbox {
  display: flex;
  align-items: center;

  &__icon {
    margin-right: 0.75rem;
  }

  &__label {
    @include bodyMeta();
    text-align: left;

    a {
      color: color('primary');
    }
  }
}
