
.formSelect {
  position: relative;

  &__field {
    width: 100%;
    font-size: px2rem(18px);
    line-height: normal;

    position: relative;
    display: block;
    text-decoration: none;
    margin: 0;

    min-height: 2.875rem;
    padding: 0.625rem 1rem;

    background: #fff;
    border: 1px solid color('inputBorder');
    border-radius: 0.25rem;
    appearance: none;
    box-sizing: border-box;

    white-space: nowrap;
    box-shadow: 0 0 0;
    vertical-align: middle;

    &:active,
    &:focus {
      outline: none;
    }

    &::-moz-focus-inner {
      border-width: 0;
      border-style: none;
      padding: 0;
    }
  }

  &__icon {
    position: absolute;
    top: calc(50% - 0.625rem);
    right: 0.5rem;

    svg {
      fill: color('inputBorder');
    }
  }
}
