
.form {
  &--textCenter {
    text-align: center;
  }

  &__heading {
    @include heading4();
    margin-bottom: 1rem;

    @include mq($from: 'tablet') {
      margin-bottom: 1.125rem;
    }
  }

  &__content { }

  &__disclaimer {
    @include bodyMeta();
    margin-top: 1rem;

    @include mq($from: 'tablet') {
      margin-top: 1.125rem;
    }
  }
}
