
.getStarted {
  text-align: center;

  &__image {
    width: 100%;
    margin: 0 auto;
    max-width: 200px;

    @include mq($from: 'tablet') {
      max-width: 280px;
    }
  }

  &__info { }

  &__download { }

  &__buttons {
    margin-top: 2rem;
  }

  &__disclaimer {
    @include bodyText();
    margin-top: 1.5rem;
  }
}
