
.grid {
  @include gridRow();

  &__col {
    @include gridCol();
  }
}

@each $name, $breakpoint in $mq-breakpoints {
  // Set breakpoint value to 0px for phone to be able to create grid on phones
  @if ($name == 'phone') {
    $breakpoint: 0px;
  }

  @include mq($from: $breakpoint) {
    @for $num-of-cols from 1 through $columns {
      .grid__col--#{$name}#{$num-of-cols} {
        @include gridCol($num-of-cols);
      }

      .grid__col--#{$name}Skip#{$num-of-cols} {
        @include gridColSkip($num-of-cols);
      }
    }
  }
}
