
.heroContent {
  max-width: wrapperMaxWidth(6);

  &__heading {
    @include heading1();
    color: #fff;

    @include mq($until: 'tablet') {
      margin-bottom: 1rem;
    }

    @include mq($from: 'tablet') {
      margin-bottom: 2rem;
    }
  }

  &__description {
    @include mq($until: 'tablet') {
      @include bodyMeta($margin: true);
      color: #fff;
    }

    @include mq($from: 'tablet') {
      @include bodyText($margin: true);
      color: #fff;
    }
  }

  &__buttonList {
    list-style: none;
    padding: 0;
    display: flex;
    margin-top: 2.5rem;
  }

  &__buttonItem {
    margin-right: 1.5rem;
  }
}
