.hero {
  @include bleed();
  display: flex;
  position: relative;
  background: #222;

  &--halfScreen {
    height: 50vh;
    padding-top: 5em;
    padding-bottom: 5em;
    max-height: px2rem(600px);

    @include mq($from: 'tablet') {
      padding-top: 7em;
      padding-bottom: 7em;
      // min-height: px2rem(600px);
      // max-height: px2rem(800px);
    }

    @include mq($from: 'laptop') {
      // min-height: px2rem(700px);
      // max-height: px2rem(1000px);
    }
  }

  &--fullScreen {
    height: 85vh;
    padding-top: 5em;
    padding-bottom: 5em;
    max-height: px2rem(600px);

    @include mq($from: 'tablet') {
      padding-top: 7em;
      padding-bottom: 7em;
      min-height: px2rem(600px);
      max-height: px2rem(800px);
    }

    @include mq($from: 'laptop') {
      min-height: px2rem(700px);
      max-height: px2rem(1000px);
    }
  }

  /*
   * Align content
   */
  &--alignTop {
    align-items: flex-start;
  }

  &--alignCenter {
    align-items: center;
  }

  &--alignBottom {
    align-items: flex-end;
  }

  &__content {
    @include wrapper();
    width: 100%;
    display: flex;
    z-index: 2;
    position: relative;
  }

  /*
   * Background image for hero
   */
  &__backdrop {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__media {
    width: 100%;
    height: 100%;
    display: none;

    &--phone {
      @include mq($until: 'tablet') {
        display: block;
      }
    }

    &--tablet {
      @include mq($from: 'tablet', $until: 'laptop') {
        display: block;
      }
    }

    &--laptop {
      @include mq($from: 'laptop') {
        display: block;
      }
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    @include mq($from: 'projector') {
      background-size: auto 100%;
    }
  }
}
