
.heroStart {
  text-align: center;
  margin-top: 2rem;

  @include mq($from: 'tablet') {
    margin-top: 4rem;
  }

  @include mq($from: 'monitor') {
    margin-top: 6rem;
    margin-bottom: 2rem;
  }

  @include mq($from: 'projector') {
    margin-top: 8rem;
    margin-bottom: 4rem;
  }

  &__heading {
    @include heading2();
    margin-bottom: 1rem;
  }

  &__description {
    @include bodyText();
  }

  &__actions {
    margin-top: 2rem;
  }
}
