
.loader {
  &--local {
    position: relative;
    height: 8em;
    min-height: 8em;
    font-size: 1.5em;
  }

  &--global {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    background: color('body');
    font-size: 2em;
  }

  &--thin {
    height: 1.25em;
    min-height: 1.25em;
  }

  &:after {
    content: ' ';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1.25em;
    height: 1.25em;
    margin-top: 1.25em * -0.5;
    margin-left: 1.25em * -0.5;
    transition: opacity 0.3s ease;
    border: 2px solid transparent;
    border-top-color: rgba(color('primary'), 0);
    border-right-color: rgba(color('primary'), 0.3);
    border-bottom-color: rgba(color('primary'), 0.6);
    border-left-color: rgba(color('primary'), 1);
    border-radius: 50%;
    animation: global-loading 0.25s infinite linear;
    transform: rotate(-45deg);
  }

  @keyframes global-loading {
    100% { transform: rotate(360deg); }
  }
}
