
.media {
  position: relative;
  margin: 0;

  &__src {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
  }

  &__size {
    display: block;
    position: relative;
    height: 0;
    width: 100%;
  }
}
