
.metaTable {
  &__group {
    &:nth-child(n + 2) {
      margin-top: 1rem;
    };

    &--border {
      &:nth-child(n + 2) {
        padding-top: 1rem;
        border-top: 1px solid color('border');
      }
    }
  }

  &__heading {
    @include bodyMeta();
    font-weight: bold;

    @include mq($from: 'tablet') {
      @include bodyText();
    }
  }

  &__row {
    @include bodyMeta();
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include mq($from: 'tablet') {
      @include bodyText();
    }
  }

  &__label { }

  &__value {
    &--link {
      color: color('primary');
    }
  }
}
