
.offerPost {
  @include spacer(1rem);

  &__image { }

  &__heading {
    @include heading4();
  }

  &__description {
    @include bodyText();
  }

  &__button {
    padding-top: 1rem;
    text-align: center;
  }
}
