
.optionList {
  &__item {
    color: color('text');
    display: flex;
    padding: 0.5rem 0;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid color('border');

    &:last-child {
      border-bottom: 1px solid color('border');
    }
  }

  &__label {
    flex: 1;
    @include bodyText();
  }

  &__icon {
    height: 2rem;
    display: flex;
    align-items: center;
  }
}
