
.pageHeader {
  text-align: center;
  margin-bottom: 1.5rem;

  &__label {
    @include bodyMeta();
    margin-bottom: 0.5rem;
  }

  &__heading {
    @include heading3();
    margin-bottom: 0.5rem;
  }

  &__description {
    @include bodyText();
    margin: 0 auto;
    max-width: wrapperMaxWidth(4);
  }

  &__content {
    margin: 1rem auto 0;
    max-width: wrapperMaxWidth(4);
  }
}
