
.paymentBtn {
  display: flex;
  height: 20px;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 0 0.75rem 0 1.5rem;
  background: #fff;
  border-radius: 2rem;

  &__label {
    flex: 1;
    text-align: left;
  }

  &__providerList {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    margin-right: 0.5rem;
  }

  &__providerItem {
    display: block;
    margin: -10px 0 -10px 0.5rem;
    max-height: 22px;
  }

  &__icon {
    top: 2px;
    position: relative;
    margin: -10px 0 -10px 0.5rem;

    svg {
      fill: color('text');
    }
  }
}
