
.paymentOptionSummary {
  &__heading {
    @include bodyText();
    font-weight: bold;
  }

  &__info {
    flex-wrap: wrap;
  }

  &__text {
    @include bodyMeta();
    display: inline-block;
    padding-right: 0.25rem;

    span {
      display: inline-block;
      padding-right: 0.25rem;

      &:after {
        content: ',';
      }

      &:last-child {
        &:after {
          content: '.';
        };
      }

      &:nth-child(1n + 2) {
        // text-transform: lowercase;
      }
    }
  }

  &__link {
    @include bodyMeta();
    display: inline-block;
    white-space: nowrap;
    text-decoration: underline;
  }
}
