
.paymentOption {
  text-align: left;

  &__heading {
    @include heading5();
    margin-bottom: 1rem;
  }

  &__providerList {
    display: flex;
    align-items: center;
  }

  &__providerItem {
    display: block;
    max-width: 4rem;
    max-height: 1.5rem;
    margin-right: 1rem;
  }

  &__info {
    position: relative;
  }

  &__instructions {
    @include bodyText();
    margin-top: 1rem;
  }

  &__form {
    margin-top: 1rem;
  }

  &__disclaimer {
    display: flex;
    margin-top: 1.5rem;

    @include mq($from: 'tablet') {
      margin-top: 2rem;
    }
  }

  &__disclaimerIcon {
    margin-right: 0.5rem;

    svg {
      fill: color('text');
      top: -2px;
      position: relative;
    }
  }

  &__disclaimerText {
    @include bodyMeta();
  }

  &__summary {
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: 1px solid color('border');

    @include mq($from: 'tablet') {
      margin-top: 1.5rem;
      padding-top: 1.5rem;
    }
  }
}
