
.paymentOptionCreditCard {
  &__overlay {
    background: #fff;
    z-index: 2;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    text-align: center;
    flex-direction: column;
    justify-content: center;

    &--active {
      display: flex;
    }
  }

  &__image {
    width: 100%;
    margin: 0 auto 1rem;
    max-width: 6rem;

    @include mq($from: 'tablet') {
      max-width: 8rem;
    }
  }

  &__instructions {
    @include bodyText();
  }

  &__button {
    margin-top: 1rem;
  }

  &__form {
    z-index: 1;
    position: relative;
  }
}
