
.productFeatures {
  display: flex;
  align-items: center;
  flex-direction: row;

  @include mq($from: 'tablet') {
    flex-direction: row-reverse;
  }

  &__image {
    flex: 2;
    margin-right: -6em;

    @include mq($from: 'tablet') {
      margin-right: 0;
    }
  }

  &__info {
    flex: 3;
    padding-right: 1rem;

    @include mq($from: 'tablet') {
      flex: 4;
      padding-left: 8%;
      padding-right: 0;
    }
  }

  &__heading {
    @include heading2();
    margin-bottom: 1rem;

    @include mq($from: 'tablet') {
      margin-bottom: 2rem;
    }
  }

  &__list { }

  &__listItem {
    &:nth-child(n + 2) {
      margin-top: 1rem;

      @include mq($from: 'tablet') {
        margin-top: 2rem;
      }
    }
  }

  &__listHeading {
    @include heading4();
    margin-bottom: 0.5rem;
  }

  &__listDescription {
    @include mq($until: 'tablet') {
      @include bodyMeta();
    }

    @include mq($from: 'tablet') {
      @include bodyText();
    }
  }
}
