
.profileList {
  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid color('border');
  }

  &__info {
    flex: 1;
  }

  &__text {
    @include bodyText();
  }

  &__meta {
    @include bodyMeta();
  }

  &__icon {
    flex: 0;
    padding: 1rem 0;
    margin-left: 1rem;
  }
}
