
.promotedChecklist {
  &__heading {
    @include heading3();
  }

  &__list {
    margin-top: 0.5rem;
    @include mq($from: 'tablet') {
      column-gap: 2rem;
      column-count: 2;
    }
  }

  &__item {
    padding-top: 0.5rem;
    display: flex;
    align-items: center;
    break-inside: avoid-column;
  }

  &__icon {
    top: 1px;
    position: relative;
    margin-right: 0.5rem;

    svg {
      fill: color('text');
    }
  }

  &__label {
    @include bodyText();
  }
}
