
.registerStep {
  width: 100%;
  text-align: center;

  &__label {
    @include bodyMeta();
    margin-bottom: 1rem;
  }

  &__heading {
    @include heading2();
    margin-bottom: 1rem;
  }

  &__description {
    @include bodyText();
    margin: 0 auto;
    max-width: wrapperMaxWidth(4);
  }

  &__content {
    margin: 1.5rem auto;

    @for $index from 1 through 12 {
      &--maxCols#{$index} {
        @include wrapper($maxWidth: wrapperMaxWidth($index), $margin: false);
      }
    }
  }

  &__actions {
    margin-top: 2.5rem;
  }
}
