
.subscriptionTable {
  text-align: center;

  @include mq($until: 'tablet') {
    margin: 0 -1.25em;
  }

  &__header {
    display: flex;

    @include mq($from: 'tablet') {
      margin-left: 55%;
    }
  }

  &__model {
    flex: 1;
    cursor: pointer;
  }

  &__name {
    @include heading5();
    margin-bottom: 0.5rem;
    opacity: 0.5;
    transition: opacity 0.3s ease;

    &--active {
      opacity: 1;
    }
  }

  &__checkbox { }

  &__main {
    margin-top: 1rem;
  }

  &__row {
    padding: 0.5rem 0;

    @include mq($from: 'tablet') {
      display: flex;
      align-items: center;
    }
  }

  &__label {
    @include mq($until: 'tablet') {
      @include bodyMeta();
      padding: 0 0.75rem;
      margin-bottom: 0.25rem;
    }

    @include mq($from: 'tablet') {
      @include bodyText();
      flex: 1;
      text-align: left;
    }
  }

  &__list {
    width: 100%;
    display: flex;

    @include mq($from: 'tablet') {
      width: 45%;
    }
  }

  &__item {
    @include bodyText();
    flex: 1;
    opacity: 0.5;
    transition: opacity 0.3s ease;

    svg {
      fill: color('text');
    }

    &:nth-child(1n + 2) {
      border-left: 1px solid color('border');
    }

    &--active {
      opacity: 1;
      color: color('primary');

      svg {
        fill: color('primary');
      }
    }
  }
}
