
.searchForm {
  margin: 0 auto;
  max-width: wrapperMaxWidth(6);

  &__form {
    display: flex;
  }

  &__inputWrapper {
    flex: 1;
    position: relative;
  }

  &__button {
    flex: 1;
    max-width: 4rem;
    margin-left: 0.75rem;

    @include mq($from: 'tablet') {
      max-width: 5rem;
      margin-left: 1.5rem;
    }
  }

  &__autocomplete {
    width: 100%;
    display: none;
    z-index: 10;
    position: absolute;
    overflow: hidden;
    background: #fff;
    border-radius: 0 0 0.25rem 0.25rem;
    border: 1px solid color('inputBorder');
    border-width: 0 1px 1px 1px;
    margin-top: -0.25rem;
    padding-top: 0.25rem;

    &--active {
      display: block;
    }
  }

  &__autocompleteItem {
    @include bodyText();
    cursor: pointer;
    padding: 0.8rem 1rem;
    border-top: 1px solid color('border');
    transition: background 0.3s ease;

    &:hover {
      background: color('smoke');
    }
  }
}

