.block {
  width: 100%;

  /*
   * Background color modifiers
   */
  &--bgWhite {
    background: #fff;
  }

  &--bgSmoke {
    background: color('smoke');
  }

  &--bgSecondaryTint1 {
    background: color('secondaryTint1');
  }

  &--bgSecondaryTint2 {
    background: color('secondaryTint2');
  }

  &--bgSecondaryTint3 {
    background: color('secondaryTint3');
  }

  &--bgSecondaryTint4 {
    background: color('secondaryTint4');
  }

  /*
   * Bleed paddings on right and left side
   */
  &--normalBleed {
    @include bleed();
  }

  /*
   * Vertical margins between blocks
   */
  &--smallSpacing {
    padding-top: 2em;
    padding-bottom: 2em;
  }

  &--smallTopSpacing {
    padding-top: 2em;
  }

  &--smallBottomSpacing {
    padding-bottom: 2em;
  }

  &--normalSpacing {
    padding-top: 5em;
    padding-bottom: 5em;
  }

  &--normalTopSpacing {
    padding-top: 5em;
  }

  &--normalBottomSpacing {
    padding-bottom: 5em;
  }

  &--largeSpacing {
    padding-top: 8em;
    padding-bottom: 8em;
  }

  &--largeTopSpacing {
    padding-top: 8em;
  }

  &--largeBottomSpacing {
    padding-bottom: 8em;
  }
}

.wrapper {
  @include wrapper($maxWidth: wrapperMaxWidth(12));

  &__content {
    @for $index from 1 through 12 {
      &--maxCols#{$index} {
        @include wrapper($maxWidth: wrapperMaxWidth($index), $margin: false);
      }
    }

    &--alignCenter {
      margin-left: auto;
      margin-right: auto;
    }

    &--alignLeft {
      margin-left: 0;
    }

    &--alignRight {
      margin-right: 0;
    }

    &--fullScreen {
      min-height: calc(100vh - #{size('headerHeightPhone') * 3});
      display: flex;
      flex-direction: column;
      justify-content: center;

      @include mq($from: 'tablet', $and: '(min-height: 800px)') {
        min-height: 60vh;
      }
    }
  }
}
