
.stickyButton {
  $b: &;
  position: relative;
  text-align: center;

  &--stickyPhone {
    @include mq($until: 'tablet') {
      height: 6rem;
    }
  }

  &--stickyDesktop {
    @include mq($from: 'tablet') {
      height: 6rem;
    }
  }

  &__main {
    &--stickyPhone {
      @include mq($until: 'tablet') {
        position: fixed;
        z-index: 4;
        bottom: 0;
        left: 0;
        width: 100%;
      }
    }

    &--stickyDesktop {
      @include mq($from: 'tablet') {
        position: fixed;
        z-index: 4;
        bottom: 0;
        left: 0;
        width: 100%;
      }
    }
  }

  &__fade {
    display: none;

    &--stickyPhone {
      @include mq($until: 'tablet') {
        display: block;
      }
    }

    &--stickyDesktop {
      @include mq($from: 'tablet') {
        display: block;
      }
    }

    &:after {
      content: '';
      z-index: 1;
      position: absolute;
      left: 0;
      bottom: 0;
      top: -1.5rem;
      width: 100%;
      pointer-events: none;
    }

    /*
     * Fade
     */
    &--bgWhite:after {
      background: linear-gradient(rgba(#fff, 0), #fff);
    }

    &--bgSmoke:after {
      background: linear-gradient(rgba(color('smoke'), 0), color('smoke'));
    }

    &--bgSecondaryTint1:after {
      background: linear-gradient(rgba(color('secondaryTint1'), 0), color('secondaryTint1'));
    }

    &--bgSecondaryTint2:after {
      background: linear-gradient(rgba(color('secondaryTint2'), 0), color('secondaryTint2'));
    }

    &--bgSecondaryTint3:after {
      background: linear-gradient(rgba(color('secondaryTint3'), 0), color('secondaryTint3'));
    }

    &--bgSecondaryTint4:after {
      background: linear-gradient(rgba(color('secondaryTint4'), 0), color('secondaryTint4'));
    }
  }

  &__content {
    @include bleed();
    padding-top: 2.5rem;
    z-index: 2;
    position: relative;

    &--stickyPhone {
      @include mq($until: 'tablet') {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
      }
    }

    &--stickyDesktop {
      @include mq($from: 'tablet') {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
      }
    }
  }
}
