
.subscriptionFeatures {
  &__heading {
    @include heading2();
    text-align: center;
    margin-bottom: 2rem;
  }

  &__list {
    @include gridRow();
    margin-bottom: 2rem;
  }

  &__listItem {
    @include gridCol(12);

    @include mq($from: 'tablet') {
      @include gridCol(4);
    }
  }

  &__box {
    @include gridRow();
  }

  &__boxItem {
    @include gridCol(12);

    @include mq($from: 'laptop') {
      @include gridCol(4);
    }
  }
}
