
.twoUpBenefits {
  @include mq($from: 'tablet') {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__row {
    @include gridRow();
  }

  &__rowItem {
    @include gridCol(12);

    @include mq($from: 'tablet') {
      @include gridCol(6);
    }
  }

  &__header {
    display: flex;
    align-items: center;
  }

  &__icon {
    top: 1px;
    position: relative;
    margin-right: 1.5rem;

    svg {
      fill: color('text');
      width: 22px * 2;
      height: 18px * 2;
    }
  }

  &__heading {
    @include heading3();
  }

  &__list {
    margin-top: 1rem;
    padding: 1rem 0 1rem 1.25rem;
    border-top: 1px solid color('border');
  }

  &__item {
    @include bodyText();
    margin-top: 0.5rem;
    display: list-item;
    list-style-type: disc;
  }
}
