
.userReviews {
  text-align: center;

  &__list { }

  &__item {
    display: none;

    &--active {
      display: block;
    }
  }

  &__rank {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
  }

  &__rankItem {
    margin: 0 0.25rem;
    svg {
      width: 16px * 1.5;
      height: 16px * 1.5;
      fill: color('goldStar');
    }

    &--disabled {
      svg {
        fill: color('borderHover');
      }
    }
  }

  &__text {
    @include heading4();
    margin-bottom: 1rem;
  }

  &__name {
    @include bodyText();
  }

  &__pagination {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
  }

  &__paginationItem {
    flex: 0 0 3rem;
    height: 0.125rem;
    margin: 0 0.5rem;
    background: color('borderHover');

    &--active {
      background: color('text');
    }
  }

  &__description {
    @include bodyText();
    margin-top: 2rem;
  }
}
